.body {
	margin: 0;
}
.navContainer {
	background-color: rgb(51, 51, 51);
	overflow: hidden;
	display: flex;
	padding: 0px 12px;
}

.navigation{
	display: flex;
	list-style: none;
	margin: 0;
	padding: 0;
}

.navContainer .link {
	color: #fffff0;
	font: status-bar;
	text-align: center;
	text-transform: uppercase;
	padding: 4px 12px;
	font-size: 16px;
	font-weight: bold;
	background-color: inherit;
	background-color: rgb(51, 51, 51);
	border-left: 4px solid rgb(51, 51, 51);
	margin-right: 2px;
}
.navContainer .link.active {
	background-color: rgb(255, 153, 0);
	color: black;
	border-left: 4px solid white;
}
.navContainer .link:hover{
	background-color: rgb(255, 153, 0);
	color: black;
	border-left: 4px solid white;
}

.navContainer .rightChild {
	margin-right: 12px;
	margin-left: auto;
	margin-top: 4px;
	margin-bottom: 4px;
	border-radius: 4px;
}


.heading {
	background-color: rgb(51,153,204);
	max-height: 110px;
	padding: 25px 16px;
	overflow: hidden;
}

.heading .title{
	margin: 0px 8px;
	float: left;
	padding: 0;
	font-size: 48px;
	font-family: "Century Gothic";
	color: white;
	font-weight: 300;
}

.page {
	padding: 15px;
	font-family: Arial, Helvetica, sans-serif;
}
.pagesContainer{
	position: relative;
}

.home{
	display: flex;
	position: absolute;
}
.contactTileSection{
	padding: 0px 16px;
	width: 396px;
}
.contactTileSection .subHeading{
	text-transform: uppercase;
	font-size: 16px;
}
.contactTileSection .contactTile{
	border: 1px solid rgb(204, 204, 204);
	padding: 5px;
}
.contactTileSection .contactTile >*{
	padding: 0px 12px;
	color: rgb(82, 82, 82);
}
.contactTileSection .contactTile .name{
	font-size: 28px;
}
.contactTileSection .contactTile .details{
	padding: 5px 0px 5px 18px;
	font-size: 14px;
	font-weight: ;
}
.contactTile.active, .contactTile:hover{
	background-color: rgb(206, 231, 242);
	color: black;
}

.detailsSection{
	font-family: "Century Gothic";
	padding: 20px 0px 20px 20px;

}
.sectionDivider{
	display: flex;
}
.sectionDivider .cell{
}
.detailsSection .contactDetails{
	padding: 16px 0px 20px 30px;

}
.detailsSection .contactDetails >*{
	padding: 10px 0px;
}
.detailsSection #name{
	font-size: 36px;
}

.detailsSection .contactDetails .address {
	display: inline-flex;
}

.functionalitiesHolder{
	display: flex;
	position: relative;
	right: 0;
}

.functionalitiesHolder .function {
	display: flex;
	float: right;
	margin: 40px;
}
.functionalitiesHolder .function .image{
	width: 15px;
	height: 17px;
	
}

.addContainer{
	position: absolute;
	z-index: 1;
	height: fit-content;
	padding-left: 428px;
}
.add{
	margin-left: 25px;
	margin-top: 10px;
	z-index: 2;
	width: 684px;
	box-shadow: 0px 0px 12px 5px rgb(155, 155, 155);
	padding: 10px;
	background-color: rgb(255, 255, 255);
	overflow-y: auto;
}

.add .form{
	width: 80%;
}
.add .inputField{
	width: 100%;
	display: block;
	padding: 8px 0px;
	font-size: 14px;
}
.add .cell{
	padding: 0 15px;
}
.add .label{
	margin-bottom: 0;
	font-weight: bold;
	font-family: Arial;
	font-size: 14px;
}

.add .row{
	display: flex;
}
.add .row .cell{
	width: 50%;
}
.add .rightChild{
	width: 20%;
	margin: 10px 10px 0 0;
	float: right;
}
.add .rightChild .button{
	margin-left: 0;
	padding: 10px 50px;
	font-size: 14px;
	font-size: 16px;
	background-color: rgb(70, 140, 0);
	color: white;
	border: none;
}

.editContainer{
	position: absolute;
	z-index: 1;
	height: 100%;
	height: fit-content;
	padding-left: 428px;
}
.edit{
	margin-left: 25px;
	margin-top: 10px;
	z-index: 2;
	width: 684px;
	box-shadow: 0px 0px 12px 5px rgb(155, 155, 155);
	padding: 10px;
	background-color: rgb(255, 255, 255);
	overflow-y: auto;
}

.edit .form{
	width: 80%;
}
.edit .inputField{
	width: 100%;
	display: block;
	padding: 8px 0px;
	font-size: 14px;
}
.edit .cell{
	padding: 0 15px;
}
.edit .label{
	margin-bottom: 0;
	font-weight: bold;
	font-family: Arial;
	font-size: 14px;
}

.edit .row{
	display: flex;
}
.edit .row .cell{
	width: 50%;
}
.edit .rightChild{
	width: 20%;
	margin: 10px 10px;
	float: right;
}
.edit .rightChild .button{
	margin-left: 0;
	padding: 10px 50px;
	font-size: 14px;
	font-size: 16px;
	border: none;
}
.edit .rightChild .button.save{
	background-color: rgb(70, 140, 0);
	color: white;
}

.hide{
	display: none;
}
.disable{
	pointer-events: none;
}

.addContainer.active{
	display: block;
}
