body {
	margin: 0;
	padding: 0;
}
.tnav {
	margin: 0;
	background-color: rgb(51, 51, 51);
	overflow: hidden;
	padding-left: 10px;
	padding-right: 10px;

}

.tnav a {

	float: left;
	color: #fffff0;
	font: status-bar;
	text-align: center;
	padding: 14px 14px;
	text-decoration: none;
	font-size: 18px;
	font-weight: bold;
}

.tnav img.rig {
	float: right;
	padding: 14px 14px;
	border-radius: 20px;
}

.tnav a.active {
	font-weight: 800;
}

.hd {
	margin: 0;
	background-color: rgb(51,153,204);
	font-family: "Lucida Console","Courier New", monospace;
	height: 88px;
}
h1{
	margin: 0;
	float: left;
	padding: 20px 15px 20px 15px;
	font-size: 48px;
	font-weight: 180;
	color: white;
	vertical-align: middle;
}
.nrm {
	padding-top: 30px;
	padding-left: 50px;
	padding-right: 50px;
	padding-bottom: 30px;
	font-family: Arial, Helvetica, sans-serif;
}
.nrm div.news{
	margin: 0;
	border: 1px solid black;
	padding: 0px 10px 10px 10px;
	width: fit-content;
}

.nrm div.news h2{
	margin: 0;
	padding-top: 10px;
	padding-bottom: 0px;
}

.nrm div.news ul {
	margin: 0;
	padding: 5px 15px 5px 15px;
}

.nrm div.news ul li{
	padding: 5px 10px 5px 10px;
}

.nrm div.cnt {
	max-width: 1200px;
}