body {
	margin: 0;
}
.tnav {
	background-color: rgb(51, 51, 51);
	overflow: hidden;
	padding: 0px 20px;
}

.tnav button {
	float: left;
	color: #fffff0;
	font: status-bar;
	text-align: center;
	padding: 10px;
	font-size: 18px;
	font-weight: bold;
	background-color: inherit;
	border: none;
	background-color: rgb(51, 51, 51);
	border-left: 5px solid rgb(51, 51, 51);
	margin-right: 2px;
}
.tnav button.active {
	background-color: rgb(255, 153, 0);
	color: black;
	border-left: 5px solid white;
}
.tnav button:hover{
	background-color: rgb(255, 153, 0);
	color: black;
	border-left: 5px solid white;
}

.tnav img.rig {
	float: right;
	padding: 10px;
	border-radius: 15px;
}


.hd {
	background-color: rgb(51,153,204);
	height: 100px;
	font-family: Century Gothic;
}

.hd h1{
	margin: 0;
	float: left;
	padding: 20px 30px;
	font-size: 48px;
	font-weight: 100;
	color: white;
}

.page {
	padding: 30px 50px;
	font-family: Arial, Helvetica, sans-serif;
}

.page div.news{
	border: 1px solid #D3D3D3;
	padding: 10px;
	font-size: 13.64px;
	width: fit-content;
}

.page div.news h2{
	margin: 0;
}

.page div.news ul {
	margin: 0;
	padding: 5px 15px;
}

.page div.news ul li{
	padding: 5px 10px;
}

.page div.content {
	font-size: 14px;
	max-width: 1001px;
}
.hide {
	display: none;
}
.careers {
	margin: 5px 20px 0px 20px;
}
.content{
	margin: 0;
	color: black;
	font-family: Century Gothic;
}

.careers .btn{
	font-size: 16px;
	padding: 7px 30px 7px 15px;
	background-color: rgb(238, 238, 238);
	border: 1px solid rgb(153, 153, 153);
	border-radius: 2px;
}

.careers .careerForm .table1{
	margin: 15px 15px 0px 15px;
}
.careers .careerForm .table1 tr td input{
	padding: 8px;
}
.careers .careerForm .table1 tr td{
	padding: 10px;
	vertical-align: middle;
}

.contact .contactForm .table1{
	margin: 15px 15px 0px 15px;
}
.contact .contactForm .table1 tr td input,select{
	padding: 4px;
	width: 260px;
    height: 41px;
    margin: 2px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.contact .contactForm .table1 .contactRadio {
	height: auto;
	width: auto;
}

.contact .contactForm .table1 tr td{
	padding: 10px;
	vertical-align: middle;
}

.contact .required,.errorMsg,.validation {
	color: red;
}
.ErrorMsg {
	color: red;
	font-size: 24;
	font-weight: bold;
	margin: 5px;
}
.contact .button {
	padding: 8px 20px;
	font-size: 16px;
	font-weight: bold;

}

.contact .label{
	font-weight: bold;
}

.careers .label{
	font-weight: bold;
}

.careers .submitBtn{
	font-size: 16px;
	padding: 7px 30px 7px 15px;
	font-weight: bold;
	background-color: rgb(238, 238, 238);
	border: 1px solid rgb(153, 153, 153);
	border-radius: 2px;
}
