body {
	margin: 0;
}
.tnav {
	background-color: rgb(51, 51, 51);
	overflow: hidden;
	padding: 0px 20px;
}

.tnav button {
	float: left;
	color: #fffff0;
	font: status-bar;
	text-align: center;
	padding: 10px;
	font-size: 18px;
	font-weight: bold;
	background-color: inherit;
	border: none;
}

.tnav img.rig {
	float: right;
	padding: 10px;
	border-radius: 15px;
}

.tnav button.active {
	color: #ffffff;
}

.hd {
	background-color: rgb(51,153,204);
	height: 100px;
	font-family: Century Gothic;
}

h1{
	margin: 0;
	float: left;
	padding: 20px 30px;
	font-size: 48px;
	font-weight: 100;
	color: white;
}

.page {
	padding: 30px 50px;
	font-family: Arial, Helvetica, sans-serif;
}

.page div.news{
	border: 1px solid #D0D0D0;
	padding: 10px;
	font-size: 13.64px;
	width: fit-content;
}

.page div.news h2{
	margin: 0;
}

.page div.news ul {
	margin: 0;
	padding: 5px 15px;
}

.page div.news ul li{
	padding: 5px 10px;
}

.page div.content {
	font-size: 13.64px;
	max-width: 1001px;
}
